@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900|Rubik:300,400,500,700,900');

@import url('https://fonts.googleapis.com/css?family=Lato');

$green: rgba(178, 178, 178, 0.7);

%titles{
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  color: #000000;
}

p {
  font-family: 'Lato', sans-serif;
}

a {
  color: white;
}

img {
  width: 100%;
}

.photos {
  overflow: hidden;
  img {
    transition: all 0.8s ease;
  }
  &:hover img {
    transform: scale(1.04);
    opacity: 0.8;
  }
}

h1, h2, h3, h4, h5, h6 {
  @extend %titles;
}

.scrolltop {
  display: none;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  bottom: 20px;
  right: 10px;
}

.scroll {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: #b2b2b2;
  background: $green;
  padding: 20px;
  text-align: center;
  margin: 0 0 0 0;
  cursor: pointer;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  &:hover {
    background: $green;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    .fa {
      padding-top: -10px;
    }
  }
  .fa {
    font-size: 30px;
    margin-top: -5px;
    margin-left: 1px;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
  }
}

#filas {
  display: flex;
  max-width: 1500px;
  margin: auto;
  &:nth-of-type(1) {
    max-width: 250px;
  }
}

#pruebas {
  display: flex;
  max-width: 1000px;
}

.grid-item {
  display: none;
  cursor: pointer;
  display: block;
}

/*---------MARCAS---------*/

#main {
  max-width: 1024px;
  margin: auto;
  margin-top: 5em;
}

.badge-dark {
  color: #fff;
  background-color: purple;
}

#marcas {
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
  align-content: center;
}

.grid-item > img {
  max-width: 60%;
  display: flex;
  align-self: center;
  align-content: center;
}

.etiquetas {
  background-color: darkgrey;
  border-radius: 3px;
  padding: 15px;
  display: flex;
}

@media (max-width: 600px) {
  #marcas {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .grid-item > img {
    max-width: 100%;
  }
}